.pagination {
	
	margin-top:20px;	
	display:block;
	float:right;
	

}



.pagination a{
	
	padding: 0.2em 0.5em;
    margin-right: 5px;	
	display:block;
	text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; 
	float:left;
}

.current_link{
	
	padding: 0.2em 0.5em;
	font-style: normal;
	font-weight: bold;
	margin-right: 5px;	
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;	
	float:left;

}